@model IEnumerable<ClothingStore.Models.Product>

<h2>Danh sách sản phẩm</h2>

<a asp-action="Create" class="btn btn-primary">Thêm sản phẩm</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.IdProduct</td>
                <td>@product.ProductName</td>
                <td>@product.Price VNĐ</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.IdProduct" class="btn btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@product.IdProduct" class="btn btn-danger">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
